.wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.text-wrapper {
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: 640px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (min-width: 1024px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.heading-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 65ch;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.heading {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.025em;

  @media (min-width: 640px) {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.caption {
  margin-top: 2rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  line-height: 2rem;
}

.content-wrapper {
  font-size: 1.125rem;
  line-height: 1.75;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  max-width: 65ch;
}
